{%- set local = {} %}
[
{%- for vc in virtual_circuit_ethernet_create_vc %}
  {%- for vs in virtual_switch_ethernet_create %}
    {% if vs.vc == vc.vc %}
      {% set _ = local.update({"vs":vs.vs}) %}
    {% endif %}
  {%- endfor %}
  {%- for item in vlan_add_vlan %}
    {%- for vlan in item.vlan %}
      {% set vc_vlan = vc.vlan | string %}
      {% set vlan_string = vlan | string %}
      {%- if vc_vlan == vlan_string %}
  {
    "fp": {
      "name": "FP_NNI_{{ local.vs }}_{{ item.port }}",
      "description": "{{ vc.description }}",
      "fd-name": "FD_{{ local.vs }}",
      "logical-port": "{{ item.port }}",
      "classifier-list": [
        "CLASSIFIER_NNI_{{ local.vs }}"
      ],
      "egress-l2-transform": [
        {
          "egress-name": "push_{{ vlan }}",
          "vlan-stack": [
            {
              "tag": "1",
              "push-vid": "{{ vlan }}"
            }
          ]
        }
      ],
      "ingress-l2-transform": [
        {
          "ingress-name": "pop_{{ vlan }}",
          "vlan-stack": [
            {
              "tag": "1",
              "pop-type": ""
            }
          ]
        }
      ]
    }
  }
      {%- endif %}
    {%- endfor %}
  {%- endfor %}
  {%- if not loop.last %},{% endif %}
{%- endfor %}
]